<% title "Pages" %>

<table class="table">
  <tr>
    <th class="first">Name</th>
    <th>Permalink</th>
    <th>Content</th>
    <th>Locale</th>
    <th>Meta Keywords</th>
    <th>Meta Description</th>
	<th></th>
  </tr>
  <% for page in @pages %>
    <tr>
      <td><%=h page.name %></td>
      <td><%=h page.permalink %></td>
      <td><%=h page.content[0..20] + "..." %></td>
      <td><%=h page.locale %></td>
      <td><%=h page.meta_keywords %></td>
      <td><%=h page.meta_description %></td>
	  <td><%= link_to 'Show', "/pages/#{page.permalink}" %>&nbsp;&nbsp;|&nbsp;&nbsp; 
	  <%= link_to 'Edit', edit_admin_page_path(page) %>&nbsp;&nbsp;|&nbsp;&nbsp; 
	  <%= link_to 'Destroy', admin_page_path(page), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Page", new_admin_page_path %></p>